html{
    background-color: #23DED0;
    width: 1500px;
}

body{
    background-color: #23DED0;
}

.header{ 
    margin-top: 50px;
    margin-left: 400px;
}

/* Barra de navegación superior */
#navegador ul{ 
    list-style-type: none;
    margin-left: 250px;
 }

/* Barra de navegación superior */
#navegador li{
    font-family: "Raleway", sans-serif;
    font-weight: 600;
    display: inline;
    text-align: center;
    margin-left: 50px;
    font-size: 20px;
 }

/* Barra de navegación superior */
#navegador li a {
    padding: 2px 7px 2px 7px;
    color: white;
    text-decoration: none;
 }

/* Barra de navegación superior */
#navegador li a:hover{
    color: black;
}

/* Barra de navegación superior (boton login) */
#login{
    font-weight: 100;
    margin-left: 300px;
    border-radius: 6px;
    border: solid 2px white;
}

div{
    background-color: #23DED0;
}

/* index.html */
.text{
    margin-left: 250px;
    margin-right: 600px;
    margin-top: 150px;
}

/* index.html */
.text h3 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    text-transform: uppercase;
}

/* index.html */
.text h6 {
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 52px;
    margin-top: 20px;
}

/* index.html */
.header_foto{
    border: solid 2px black;
    box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.15);
    margin-left: 80%;
    margin-top: -270px;
}

/* Linea horizontal */
hr {
    margin-left: 500px;
    width: 100%;
    background-color: white;
}

/* dietas.html */
.dietas{
    margin-top: 50px;
    width: 1000px;
}

/* dietas.html */
.dietas h3{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    text-transform: uppercase;

    margin-left: 88%;
    text-align: center;
}

/* dietas.html */
.dietas h6{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 52px;
    margin-top: 20px;

    width: 775px;
    margin-left: 60%;
    text-align: center;
}

/* Cuadro dietas izquierda */
#izquierda{
	width: 500px;
	height: fit-content; 
    border: 1px solid black;
    
    margin-top: 20px;
    margin-left: 130px;
}

/* Cuadro dietas centro */
#centro{
	width: 500px;
	height: fit-content; 
    border: 1px solid black;
    
    margin-left: 730px;
    margin-top: -498px;
}

/* Cuadro dietas derecha */
#derecha{
	width: 500px;
	height: fit-content;
    border: 1px solid black;
    
    margin-left: 1330px;
    margin-top: -498px;
}

/* dietas.html */
.header_text{
    width: 650px;   
    margin-top: 20px;

    border: 1px solid rgb(6, 30, 55);
    border-radius: 6px;
    box-shadow: 2px 4px 5px 3px rgba(0, 0, 0, 0.15);
    height: fit-content;
    margin-left: 25%;
    color: white;
    font-size: 20px;
}

/* registro.html */
.registro{
    margin-top: 50px;
    width: 1000px;
}

/* registro.html */
.registro h3{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    text-transform: uppercase;

    margin-left: 78%;
    text-align: center;
}

/* registro.html */
.registro h6{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 52px;
    margin-top: 20px;

    width: 775px;
    margin-left: 60%;
    text-align: center;
}

/* Columna registro izquierda */
.registroIzquierda{
    margin-left: 100px;
}

/* Propiedades columna registro y contacto izquierda */
.inputIzquierda{
    margin-left: 600px;
    border: 1px solid #061e37;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 278px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(6, 30, 55);
}

/* Columna registro derecha */
.registroDerecha{
    margin-top: -292px;
}

/* Propiedades columna registro y contacto derecha */
.inputDerecha{
    margin-left: 1000px;
    border: 1px solid #061e37;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 278px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(6, 30, 55);
}

/* Columna registro centro */
.registroCentro1{
    margin-left: 840px;
}

/* Propiedades columna registro y contacto centro */
.inputCentro{
    border: 1px solid #061e37;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 278px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(6, 30, 55);
}

/* Boton registro */
#botonRegistro{
    margin-left: 880px;
    padding: 15px 20px;
    width: 200px;
    color: white;
    background: #1de9b6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

/* contacto.html */
.contacto{
    margin-top: 50px;
    width: 1000px;
}

/* contacto.html */
.contacto h3{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    text-transform: uppercase;

    margin-left: 80%;
    text-align: center;
}

/* contacto.html */
.contacto h6{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 52px;
    margin-top: 20px;

    width: 775px;
    margin-left: 60%;
    text-align: center;
}

/* Columna contacto izquierda */
.contactoIzquierda{
    margin-left: 70px;
}

/* Columna contacto derecha */
.contactoDerecha{
    margin-top: -146px;
    margin-left: -10px;
}

/* Columna contacto centro */
#inputCentro{
    margin-left: 670px; 
    width: 598px;
    height: 150px;
}

/* Boton contacto */
#botonContacto{
    margin-left: 158px;
    padding: 15px 20px;
    width: 200px;
    color: white;
    background: #1de9b6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

#checkbox{
    margin-left: 670px;
}

/* login.html */
.login{
    margin-top: -200px;
    width: 1000px;
}

.login h3{
    width: 1000px;
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    text-transform: uppercase;
    margin-left: 50%;
    text-align: center;
}

.loginArriba{
    margin-top: 200px;
}

.inputArriba{
    margin-left: -150px;
    border: 1px solid #061e37;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 278px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(6, 30, 55);
}

.inputAbajo{
    margin-left: -150px;
    border: 1px solid #061e37;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 278px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(6, 30, 55);
}

#botonLogin{
    margin-left: -110px;
    padding: 15px 20px;
    width: 200px;
    color: white;
    background: #1de9b6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}

/* usuario.html */
.usuario{
    margin-top: 50px;
    width: 1000px;
}

/* usuario.html */
.usuario h3{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    width: 1000px;
    line-height: 65px;
    text-transform: uppercase;

    margin-left: 50%;
    text-align: center;
}

/* usuario.html */
.usuario h6{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 18px;
    font-weight: 400;
    line-height: 35px;
    margin-bottom: 52px;
    margin-top: 20px;

    width: 775px;
    margin-left: 60%;
    text-align: center;
}

/* usuario.html */
.container h3{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    width: 1000px;
    line-height: 65px;
    text-transform: uppercase;
}

/* usuario.html */
.container h4{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    text-transform: uppercase;
}

/* linea vertical usuario.html */
.vl {
    border-left: 3px solid white;
    height: 600px;
    position: absolute;
    left: 50%;
    margin-top: 340px;
    margin-left: -3px;
    top: 0;
}

/* datos izquierda usuario.html */
.datosIzquierda{
    margin-left: 250px;
}

/* datos izquierda usuario.html */
.datosIzquierda h3{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    width: 1000px;
    line-height: 65px;
    text-transform: uppercase;
}

/* datos izquierda usuario.html */
.datosIzquierda h4{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 35px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    text-transform: uppercase;
}

/* datos derecha usuario.html */
.datosDerecha{
    margin-top: -316px;
    margin-left: 70%;
}

/* datos derecha usuario.html */
.datosDerecha h3{
    color: #fff;
    font-family: "Raleway", sans-serif;
    font-size: 55px;
    font-weight: 800;
    letter-spacing: 1px;
    line-height: 65px;
    text-transform: uppercase;
    margin-bottom: 40px;
}

/* input derecha usuario.html */
#input_area{
    border: 1px solid #061e37;
    border-radius: 5px;
    margin-bottom: 20px;
    padding: 15px 20px;
    width: 278px;
    font-family: "Raleway", sans-serif;
    font-size: 14px;
    font-weight: 500;
    color: rgb(6, 30, 55);
}

/* boton derecha usuario.html */
#botonAñadir{
    margin-left: 40px;
    padding: 15px 20px;
    width: 200px;
    color: white;
    background: #1de9b6 none repeat scroll 0 0;
    border: medium none;
    border-radius: 5px;
    font-family: "Raleway", sans-serif;
    font-size: 16px;
    font-weight: 500;
    box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.15);
}